body {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #150063;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    max-height: max-content;
    width: 50%;
    margin: 0 auto;
    background-color: #3f3594;
    border-radius: 30px;
    box-shadow: #49438d -5px 5px 5px 5px;
    border: 1px solid #FFF;
    transition: .25s;
}

.container:hover {
    transform: scale(1.02);
    background-color: #5549b9;
}

#perfil {
    height: 250px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 10px 10px;
    box-shadow: #c0bebe -2px 2px 2px 2px;
}

#title {
    font-size: 27px;
}

#cit{
    margin: 20px 0;
    font-size: 23px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.profile{
    display: flex;
}

.text{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.desc {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
}

.cards {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 400px;
    border-radius: 10px;
    background-color: #150063;
    transition: .25s;
}

.card:hover {
    transform: scale(1.02);
}

a {
    color: #fff;
    text-decoration: none;
}

#instagram {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

#linkedin {
    background-color: #52a7c1;
    background-image: linear-gradient(315deg, #52a7c1 0%, #289ea7 74%);
}

#github {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

#gmail {
    background-color: #16568b;
    background-image: linear-gradient(315deg, #525dc1 0%, #28378d 74%);
}

@media screen and (max-height: 900px) and (max-width: 1080px){
    .container {
        height: 95%;
        width: 90%;
        background-color: #150063;
    }

    .card {
        width: 280px;
    }

    .desc{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 20px;
    }
}